*.Rproj
*.csv
*.Rdata
*.png
*.pdf
*.rds
*.xlsx
*.zip
*.xls
*.Rproj.user
*.RData
*.gsheet
*Icon
/Icon
*.DS_Store
*.Rhistory
old
graphs
maps
output
troubleshoot
attritionTabs
data
enum_summaries
rw_baseline_files
rw_baseline_cache
shs_rw_bl_shiny
shsmismatches
.Rproj.user
.httr-oauth
